body {
  max-width: 1080px;
  margin: auto;
  /* background: #cbcbcb; */
}
.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.header {
}

.header h1 {
}

button {
  background-color: #6558f5;
  color: #fff;
  border-radius: 5px;
  /* width: 100%; */
  /* height: 48px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 10px 0; */
  padding: 0;
  margin: 10px 0;
}

.sign_page_wrap {
  width: 690px;
  margin: auto;
  background: #fff;
}

legend {
  position: relative;
  height: auto;
  z-index: 100;
  padding: 60px 20px;
  font-size: 30px;
  text-align: center;
}

.input_out {
  /* position: relative; */
  /* border: 1px solid #a5a5a5; */
  /* border-radius: 2px; */
  /* background-color: #cbcbcb; */
}
input {
  border: 1px solid #6558f5;
  border-radius: 4px;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 100%;
}

.input_ label {
  display: block;
  font-size: 18px;
  margin: 10px;
}

.input_box {
  position: relative;
  border: 1px solid #8f8f8f;
  border-radius: 2px;
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}
.s_button {
  margin-top: 10px;
  margin-left: 15px;
  height: 30px;
  background: #5185fb;
  color: #ffffff;
  border: 1px solid #5185fb;
  border-radius: 4px;
}
.su_button {
    /* width: 430px;? */
    width: 100%;
    /* height: 94px; */
    background: #5185fb;
    color: #ffffff;
    border: 1px solid #5185fb;
    border-radius: 4px;
    font-size: 35px;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 30px;
}