body {
  max-width: 1080px;
  margin: auto;
}
.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.header {
  position: relative;
  height: auto;
  /* border: 1px solid red; */
  border-bottom: 2px solid #cbcbcb;
  z-index: 100;
  padding: 10px 20px;
}

.header h1 {
  font-size: 30px;
  margin: auto;
  text-align: center;
}

.header .login {
  background-color: #6558f5;
  color: #fff;
  border-radius: 5px;
  width: 80px;
  height: 28px;
  position: absolute;
  right: 20px;
  top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.article {
  display: flex;
  margin-top: 50px;
}

.article .left_flex {
  width: 15%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
.article .left_flex table {
  width: 100%;
}
.article .left_flex table td {
  border: 2px solid #cbcbcb;
  box-sizing: border-box;
  padding: 10px 8px;
}
.article .left_flex table td:hover {
  background: #cbcbcb;
  color: #fff;
}
.article .middle_flex {
  width: 85%;
  padding: 0 60px;
  box-sizing: border-box;
}
.article .flex_cont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.article .flex_cont .text {
  width: 100%;
}

.article .text-b {
  font-weight: bold;
  font-size: 18px;
}
.article .right_flex {
  width: 20%;
  border: 2px solid #cbcbcb;
  padding: 15px;
  box-sizing: border-box;
  height: 100%;
}

.table-01 h2 {
  font-size: 22px;
  font-weight: bold;
  border-bottom: 3px solid #cbcbcb;
  padding-bottom: 15px;
}

table {
  margin-top: 25px;
  width: 83%;
}
.right_flex table tr th {
  border: 1px solid #cbcbcb;
  border-top: none;
}
.right_flex table tr th:first-child {
  border-left: none;
  border-top: none;
}
.right_flex table tr th:last-child {
  border-right: none;
  border-top: none;
}

.article .table-01 th {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
}

.article .table-01 td {
  font-size: 14px;
  border-bottom: 1px solid #cbcbcb;
  padding: 10px 0;
  text-indent: 1em;
}
.login_inner {
  position: relative;
}
.login_inner input {
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  padding: 6px 6px;
  margin-bottom: 10px;
}

.login_inner .login_on_off {
  height: 30px;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}

.login_inner button {
  background-color: #6558f5;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.login_inner a {
  display: inline-block;
}
.login_inner .a_out {
  text-align: center;
}
/* on off style{} */

input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

label {
  display: block;
  position: absolute;
  width: 60px;
  height: 28px;
  border-radius: 17px;
  background-color: #ddd;
  transition-duration: 0.2s;
  top: 0;
  right: 0;
}

label span {
  position: absolute;
  left: 6px;
  top: 3px;
  z-index: 1;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  transition-duration: 0.2s;
}

label:before,
label:after {
  position: absolute;
  top: 0;
  width: 34px;
  font-size: 11px;
  line-height: 29px;
  color: #fff;
  text-align: center;
}

label:before {
  left: 0;
  content: "ON";
}

label:after {
  right: 0;
  content: "OFF";
}

input:checked + label {
  background-color: #00c73c;
}

input:checked + label span {
  transform: translateX(26px);
}

/*on off style{}*/

/* ÃƒÆ’Ã‚Â¬ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¢Ãƒâ€¦Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â«Ãƒâ€šÃ‚Â¦Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã‚Â¬Ãƒâ€šÃ‚Â°Ãƒâ€šÃ‚Â½ */

.my_news .text {
  margin: 15px 0 10px 0;
}
.my_news p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 15px 0;
}

.my_news div {
  font-size: 14px;
  border: 1px solid #cbcbcb;
  margin-bottom: 10px;
  padding: 5px 4px;
  letter-spacing: -2px;
}

.my_news > div {
  position: relative;
}
.my_news .news_close {
  background: url("../image/button_x.png") no-repeat;
  background-size: contain;
  width: 21px;
  height: 21px;
  position: absolute;
  top: -10px;
  right: -9px;
  /* background: red; */
  background-color: #fff;
  z-index: 1;
  margin: 0;
}

/* ÃƒÂ«Ã…Â¾Ã‚Â­ÃƒÂ­Ã¢â‚¬Å¡Ã‚Â¹ ÃƒÂ«Ã‚Â¦Ã‚Â¬ÃƒÂ¬Ã…Â Ã‚Â¤ÃƒÂ­Ã…Â Ã‚Â¸ */

.rank_list {
  position: relative;
  border: 1px solid #cbcbcb;
  width: 100%;
}

.rank_list tr th {
  font-weight: bold;
}
.rank_list tr td {
  text-align: center;
}
.rank_list tr th,
.rank_list tr td {
  border: 1px solid #cbcbcb;
  padding: 8px 0px;
}

.border_b {
  border-bottom: 3px solid #cbcbcb;
  /* margin-bottom: 20px; */
}
body > section > article > div.middle_flex > div:nth-child(3) {
  margin-top: 60px;
}
.image {
  margin: 20px 20px 0px 0;
  background: red;
  width: 200px;
  height: 200px;
}

.middle_flex > div {
  margin-bottom: 20px;
}
button {
  background-color: #6558f5;
  color: #fff;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 31px;
  margin: 10px 5px;
}

/* Ã«Å’â€œÃªÂ¸â‚¬Ã¬Â°Â½ */
.notice table {
  border: 1px solid #cbcbcb;
  box-sizing: border-box;
  width: 100%;
}
.notice table th {
  text-align: left;
  padding: 5px;
}
.notice table td {
  text-align: left;
}
.notice table input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

/* ÃªÂ²Å’Ã¬â€¹Å“Ã­Å’Â Ã«Â¦Â¬Ã¬Å Â¤Ã­Å Â¸ */
.board {
  border: 1px solid #cbcbcb;
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
}

.board table {
  width: 100%;
}

.board table th {
  font-weight: bold;
}
.board table th,
.board table td {
  padding: 5px 10px;
  border: 1px solid #cbcbcb;
  text-align: left;
}

.board .list {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 10px auto 0 auto;
}

.middle_flex .flex_cont .flex_cont div:nth-child(1) {
  width: 25%;
}
.middle_flex .flex_cont .flex_cont div:nth-child(2) {
  width: 50%;
}
.middle_flex .flex_cont .flex_cont div:nth-child(3) {
  width: 25%;
}

.middle_flex .flex_cont .flex_cont div input,
.middle_flex .flex_cont .flex_cont div select {
  border: 1px solid #cbcbcb;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
}
.middle_flex .flex_cont .flex_cont button {
  margin: 10px auto;
}

.my-02 button {
  margin: 10px auto;
}
.my-02 .flex_cont:nth-child(1) div:nth-child(1),
.my-02 .flex_cont:nth-child(2) div:nth-child(1),
.my-02 .flex_cont:nth-child(3) div:nth-child(1) {
  width: 30%;
  text-align: center;
  font-size: 18px;
}
.my-02 .flex_cont:nth-child(1) div:nth-child(2),
.my-02 .flex_cont:nth-child(2) div:nth-child(2),
.my-02 .flex_cont:nth-child(3) div:nth-child(2) {
  width: 70%;
}
.my-02 .flex_cont:nth-child(1) div:nth-child(2) div:nth-child(1) {
  width: 15%;
}

.my-02 .flex_cont:nth-child(1) div:nth-child(2) div:nth-child(2) {
  width: 65%;
  margin-left: 20px;
}

.my-02 .flex_cont:nth-child(1) div:nth-child(2) div:nth-child(3) {
  width: 20%;
}

/* 이메일 */
.my-02 .flex_cont:nth-child(2) div:nth-child(2) div:nth-child(1),
.my-02 .flex_cont:nth-child(2) div:nth-child(2) div:nth-child(2),
.my-02 .flex_cont:nth-child(2) div:nth-child(2) div:nth-child(3) {
  width: 20%;
}
.my-02 .flex_cont:nth-child(2) div:nth-child(2) div:nth-child(2),
.my-02 .flex_cont:nth-child(2) div:nth-child(2) div:nth-child(3) {
  /* margin-left: 20px; */
}

.my-02 .flex_cont:nth-child(2) div:nth-child(2) div:nth-child(4) {
  width: 20%;
}
.pb-10 {
  padding-bottom: 10px;
}

/* 닉네임 */
.my-02 .flex_cont:nth-child(3) div:nth-child(2) div:nth-child(2){
  width: 20%;
}