body {
  max-width: 1080px;
  margin: auto;
}
.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.header {
  position: relative;
  height: auto;
  /* border: 1px solid red; */
  border-bottom: 2px solid #cbcbcb;
  z-index: 100;
  padding: 10px 20px;
}

.header h1 {
  font-size: 30px;
  margin: auto;
  text-align: center;
}

.header .login {
  background-color: #6558f5;
  color: #fff;
  border-radius: 5px;
  width: 80px;
  height: 28px;
  position: absolute;
  right: 20px;
  top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.article {
  display: flex;
  margin-top: 50px;
}

.article .left_flex {
  width: 15%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
.article .left_flex table {
  width: 100%;
}
.article .left_flex table td {
  border: 2px solid #cbcbcb;
  box-sizing: border-box;
  padding: 10px 8px;
}
.article .left_flex table td:hover {
  background: #cbcbcb;
  color: #fff;
}
.article .middle_flex {
  width: 85%;
  padding: 0 60px;
  box-sizing: border-box;
}
.article .flex_cont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.article .flex_cont .text {
  width: 100%;
}

.article .text-b {
  font-weight: bold;
  font-size: 18px;
}

.article .table-01 th {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
}

.article .table-01 td {
  font-size: 14px;
  border-bottom: 1px solid #cbcbcb;
  padding: 10px 0;
  text-indent: 1em;
}

.border_b {
  border-bottom: 3px solid #cbcbcb;
  /* margin-bottom: 20px; */
}

button {
  background-color: #6558f5;
  color: #fff;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 31px;
  margin: 10px 5px;
}

/* 탭메뉴 */
.flex_cont.tap-01 div {
  background: #cbcbcb;
  color: #000;
  /* border: 1px solid; */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.flex_cont.tap-01 div:nth-child(1) {
  background: #6558f5;
  color: #fff;
}
.flex_cont.tap-01 div:hover {
  background: #6558f5;
  color: #fff;
}

.box_wrap {
  border: 1px solid #cbcbcb;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}
.box_wrap > .text {
  margin: 5px;
}
.box {
  display: flex;
  margin: 10px 0;
}
.image-02 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.box > div:nth-child(1) {
  width: 20%;
}
.box > div:nth-child(2) {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.box > div:nth-child(3) {
  width: 15%;
}

.list_wrap {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #cbcbcb;
}
.list {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 10px auto 0 auto;
}
